* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
h1 {
    text-align: center;
}

/* Main Content */
.container {
    display: flex;
    height: 80vh;
}

.projects {
    width: 20%;
}

.tasks {
    width: 70%;
    margin-left: 10%;
}

/* Projects Sidebar */
select {
    width: 70%;
}

.projects-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Tasks Grid */
.tasks-tabs {
    margin-bottom: 20px;
}

.add-task {
    background-color: #22c55e;
    color: white;
    border: 1px solid #22c55e;
    border-radius: 10px;
    margin-right: 20px;
}

.tasks-button {
    background-color: #3b82f6;
    color: white;
    border: 1px solid #3b82f6;
    border-radius: 10px;
}

.button-active {
    background-color: #2563eb;
}

.checkbox-label {
    margin-left: 30px;
}

.tasks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 10px;
    height: 100%;
    /* width: 850px; */
    border: 2px solid black;
    padding: 5px;
}

.item {
    position: relative;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

p {
    text-align: center;
}

img {
    position: absolute;
    bottom: 10px;
    width: 30px;
    height: 30px;
}

.edit-task,
.complete-task {
    cursor: pointer;
}

.edit-task {
    left: 10px;
}

.complete-task {
    right: 10px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: white;
    margin: 150px auto;
    border: 1px solid grey;
    width: 50%;
    height: 50%;
}

h2 {
    text-align: center;
}

.close {
    position: relative;
    top: 0;
    cursor: pointer;
    float: right;
    font-size: 24px;
    margin-right: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 14px;
    padding: 7px;
    width: 70%;
}   

.form-row label,
legend {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.form-row label {
    margin-top: 7px;
    margin-right: 10px;
}

fieldset {
    border: none;
}

fieldset label,
fieldset input,
legend {
    margin-bottom: 10px;
}

fieldset label,
fieldset input {
    display: inline-block;
    margin-top: 0px;
}

fieldset label {
    margin-right: 20px;
}

fieldset input {
    margin-left: 10px;
}

legend {
    float: left;
    margin-left: 7px;
}

.new-task-submit,
.edit-task-submit {
    margin-left: auto;
    margin-right: auto;
}