/* Header */
h1 {
    text-align: center;
}

/* Main Content */
.container {
    display: flex;
}

.projects {
    width: 20%;
}

.tasks {
    width: 80%;
}

/* Projects Sidebar */
select {
    width: 70%;
}

.projects-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}