/* Header */
h1 {
    text-align: center;
}

/* Main Content */
.container {
    display: flex;
    height: 80vh;
}

.projects {
    width: 20%;
}

.tasks {
    width: 70%;
    margin-left: 10%;
}

/* Projects Sidebar */
select {
    width: 70%;
}

.projects-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Tasks Grid */
.tasks-tabs {
    margin-bottom: 20px;
}

.tasks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 10px;
    /* row-gap: px; */
    height: 100%;
}

.item {
    border: 2px solid black;
    height: 200px;
    width: 200px;
}